<div class="header_cta"> 
<div class="inner_header">
<div class="title_sec">
<h1 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">GRAB your free 10 step sales checklist</h1>
<div class="form_section">
<form><input type="email" name="emailaddress" class="email_type" placeholder="Enter Your Name" required="" />
  <input type="text" name="name" class="name_type" placeholder="Enter Your Email" required="" /> 
  <button type="Submit" class="Submit_type"> Yes, i want to make more Sales!</button>
  </form>
</div>
</div>
</div>
</div>
<div class="main-container">
<div class="row-custom">
<div class="left_sider"> 
<section class="card_box">
<div class="blog_post_sec">
<div class="blog_inner">
  
  <div class="blog_content">
    <h1 class="post_title">Meet your new work chair.</h1>
    <img src="{{ 'girl-1rty.jpg' | asset_url }}">
    <div class="blog_cnt">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, <a href="#" class="link_more">Read more</a></p>
      
    </div>
  

</div>
  

</div>
</div>
</section>
   <div class="card_box">
     <a href="#"> <img src="{{ 'autumn-rty.jpg' | asset_url }}"></a>
   </div>
  <section class="card_box">
<div class="blog_post_sec">
<div class="blog_inner">
  
  <div class="blog_content">
    <h1 class="post_title">Meet your new work chair.</h1>
    <div class="blog_cnt">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, <a href="#" class="link_more">Read more</a></p>
      
    </div>
  

</div>
  
<div class="blog_content">
    <h1 class="post_title">Meet your new work chair.</h1>
    <div class="blog_cnt">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, <a href="#" class="link_more">Read more</a></p>
      
    </div>
  

</div>
  <div class="blog_content">
    <h1 class="post_title">Meet your new work chair.</h1>
    <div class="blog_cnt">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, <a href="#" class="link_more">Read more</a></p>
      
    </div>
  

</div>
</div>
</div>
</section>
  
   <div class="card_box">
     <a href="#"> <img src="{{ 'teaching-resources.jpg' | asset_url }}"></a>
   </div>
   <div class="card_box">
     <h1 class="post_title 22_size"> Share this Article</h1>
     <a href="#"> <img src="{{ 'facebook-share-social-buttons.png' | asset_url }}"></a>
   </div>
</div>
<div class="right_sider">
  <div class="card_box">
    <img src="{{ 'img-sec.jpg' | asset_url }}">
    <div class="form_section">
<form><input type="email" name="emailaddress" class="email_type" placeholder="Enter Your Name" required="" /> <input type="text" name="name" class="name_type" placeholder="Enter Your Email" required="" /> <button type="Submit" class="Submit_type"> Yes, i want to make more Sales!</button></form>
</div>
  </div>
  <div class="card_box">
  <div class="tabs_section">
  <ul class="tabs">
    <li><a href="#tab-1">Info</a></li>
    <li><a href="#tab-2">Shipping</a></li>
  </ul>
    <div class="tabs_border">
  <div id="tab-1">
    <p>Lorem Ipsum is simply dummy</p>
    <p>Lorem Ipsum is simply dummy</p>
    <p>Lorem Ipsum is simply dummy</p>
     </div>
  <div id="tab-2">
 <p>Lorem Ipsum is simply dummy</p>
    <p>Lorem Ipsum is simply dummy</p>
    <p>Lorem Ipsum is simply dummy</p>
  </div>
</div>
</div>
    </div>
   <div class="card_box">
     <a href="#"> <img src="{{ 'autumn-rty.jpg' | asset_url }}"></a>
   </div>
   <div class="card_box">
     <a href="#"> <img src="{{ 'facebok.jpg' | asset_url }}"></a>
   </div>
  <div class="card_box">
     <a href="#"> <img src="{{ 'teacher_7.jpg' | asset_url }}"></a>
   </div>
  </div>
</div>
  <section class="card_box ftr_part">
    <div class="footer_sections">
      <div class="media_sections">
        <div class="media_img">
        	<img src="{{ 'bigstock-pretty-teacher-smiling.jpg' | asset_url }}">
     	 </div>
        <div class="media_content">
          <h5>Lorem Ipsum</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
     	 </div>
      </div>
      <div class="sales_section">
        <div class="row_column">
          <h5>What's Your Biggest Struggle in your Business?</h5>
          <div class="column_1">
          <a href="#"><img src="{{ 'system.png' | asset_url }}">
            <span>Systems</span></a>
        </div>
           <div class="column_1">
          <a href="#"> <img src="{{ 'working-team.png' | asset_url }}">
            <span>Leads</span></a>
        </div>              
       <div class="column_1">
          <a href="#"> <img src="{{ 'commission.png' | asset_url }}">
            <span>Sales</span></a>
        </div>

        </div>
      </div>
    </div>
  </section>
  <section class="bottom_footer">
    <div class="btm_section">
      <h3>Find out exactly where you are losing
$1000s in your bussiness every single month.</h3>
    
    </div>
  </section>           
</div>
<style>
#shopify-section-header{
   display:none;
   }main#MainContent {
    padding-top: 0;
}
.main-container{
  max-width:1180px;
  width:100%;
  margin: 0 auto; 
}
   .inner_header h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 42px;
}
.header_cta {    background-image: url({{'businessman.jpg' | asset_url }});
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    background-size: cover; 
}
   .inner_header {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
}
   .title_sec {
    width: 500px;
    padding: 10% 0;
}
   .form_section input {
    min-height: 56px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 22px;
    font-size: 17px;
    border: none;
    border-radius: 30px;
}
   button.Submit_type {
    background: #019bf2;
    border: none;
    min-height: 53px;
    width: 100%;
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
     border-radius: 30px;
       -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
   button.Submit_type:hover {
   background:#0F3957;
   }
  .left_sider {
    width: 70%;
    padding: 0 15px;
}
 .right_sider {
    width: 30%;
    padding: 0 15px;
}
  h1.post_title {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Gilroy-Bold;
}.row-custom {
    display: flex;
    margin: 0 -15px;
}.header_cta {
    margin-bottom: 40px;
}
  .blog_cnt p {
    font-family: 'Gilroy';
    font-size: 16px;
    margin-bottom: 10px;
}
  .blog_content img {
    margin-bottom: 30px;
}
  .card_box{
    background-color: white;
    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
        padding: 2rem;
        margin-bottom: 30px;
    border-radius: 0 0 3px 3px;
}
  .link_more{
    color: #019bf2;
    font-size:16px;
  }
  .ButtonGroup__Item.Button{
  color: #ffffff;
    border-color: #019bf2;
    background: #019bf2;
    border-radius: 30px;}
  
 .right_sider .form_section input {
    min-height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 22px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background: #e7e7e7;
} 
  .right_sider  button.Submit_type {
    min-height: 37px;
    font-size: 14px;
    border-radius: 5px;}
  
  .tabs li {
    list-style: none;
    display: inline;
   
}
.tabs_border {
    border: 1px solid #019bf2;
    padding: 10px;
    position: relative;
    top: 2px;
}
.tabs li a {
    padding: 5px 16px;
    border: 1px solid #019bf2;
    color: #019bf2;
    border-bottom-color: #fff;
    position: relative;
}
  .tabs li a.active {
    background: #019bf2;
    color: #fff;
    font-weight: normal;
  }
  .tabs li a.active:after {
  display:none
  }
  .tabs li a:after {
    width: 100%;
    content: "";
    height: 1px;
    background: #fff;
    bottom: -1px;
    right: 0;
    z-index: 9999;
    position: absolute;
}.card_box img {
    width: 100%;
}
  h1.post_title.22_size{
  font-size:22px;
  }.media_sections {
    display: flex;
}.media_content {
    padding-left: 30px;
}.media_content h5 {
    font-size: 30px;
    margin-bottom: 10px;
}.media_content p {
    font-size: 16px;
}
  section.card_box.ftr_part{
  background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(1,155,242,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(41%, rgba(255,255,255,1)), color-stop(100%, rgba(1,155,242,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(1,155,242,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(1,155,242,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(1,155,242,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(1,155,242,1) 100%); /* w3c */
  
  }.row_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}.row_column h5 {
    flex: 100%;
    font-size: 24px;
    text-align: center;
    margin-top: 49px;
    font-family: Gilroy-Bold;
}
 .column_1 {
    text-align: center;
    padding: 0 15px;
    flex: 0 0 33.3%;
}
  .column_1 span {
    font-size: 23px;
    text-transform: uppercase;
    color: #ffff;
    font-family: Gilroy-Bold;
}.column_1 img {
    width: 50%;
    display: block;
    margin: 0 auto 20px;
}.media_sections {
    display: flex;
    padding: 0 80px;
}section.bottom_footer {
    background: #000;
    text-align: center;
    padding: 20px;
}.btm_section h3 {
    color: #fff;
    font-size: 33px;
    text-transform: uppercase;
    width: 75%;
    margin: 0 auto;
}
 @media screen and (max-width: 1199px) { 
  
  .inner_header {
    padding: 0 15px;
}.main-container {
    padding: 0 15px;
}
   .right_sider .form_section input {
     font-size: 12px;}
   .right_sider button.Submit_type {
    font-size: 12px;
    padding: 4px 4px;
}
   .tabs li a {
    padding: 5px 12px;
    font-size: 12px;
}
 }
   @media screen and (max-width: 767px) { 
  
  .inner_header {
    padding: 0 15px;
}
     .left_sider {
    width: 100%;
}
     .right_sider {
    width: 100%;
}
     .row-custom {
    flex-wrap: wrap;
}
     .main-container {
    padding: 0 15px;
}
     h1.post_title {
    font-size: 23px;
    margin-bottom: 10px;
}
     .title_sec {
    width: 100%;
    padding: 8% 0;
}
     .inner_header h1 {
    font-size: 20px;
}
     button.Submit_type {
    font-size: 14px;
       min-height: 45px;
}
     .column_1 span {
    font-size: 12px;
}
     .column_1 img {
    width: 80%;
    margin: 0 auto 10px;
}
     .row_column h5 {
    font-size: 18px;
    margin-top: 22px;
}
     .media_sections {
    padding: 0 0px;
    flex-wrap: wrap;
}.media_content {
    padding-left: 0;
}.media_content h5 {
    font-size: 26px;
    margin-bottom: 7px;
}.media_content p {
    font-size: 14px;
}
     .form_section input {
    min-height: 45px;
  
    font-size: 14px;
}
     .btm_section h3 {
    font-size: 16px;
}
 }
</style>
<script>

 $(document).ready(function() {
   $("#shopify-section-page-slideshow").remove();
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });

</script>